In [11]:
import pandas as pd

In [12]:
# 서울시 구별 CCTV 현황 파일 불러오기
# 자료 출처: http://data.seoul.go.kr/dataList/OA-2722/S/1/datasetView.do "서울 열린데이터 광장"

cctv = pd.read_excel('서울시 자치구 목적별 CCTV 설치 현황.xlsx')
cctv.head(5)

   기관명    소계   방범용  도시공원, 놀이터  어린이 보호  쓰레기 무단투기   기타
0  강남구  4758  3297        385     567         0  509
1  강동구  1493   810         96     164        27  396
2  강북구   946   633         94     114         0  105
3  강서구  1202   807         78     228        28   61
4  관악구  3223  1998        204     279       130  612

In [13]:
# 오류를 방지하기 위해 불러온 dataframe에 column명 영문으로 바꾸기

cctv.rename(columns = {'기관명' : 'region'}, inplace = True)
cctv.rename(columns = {'소계' : 'cctv_total'}, inplace = True)
cctv.rename(columns = {'방범용' : 'cctv_crime_prevent'}, inplace = True)
cctv.rename(columns = {'도시공원, 놀이터' : 'cctv_park'}, inplace = True)
cctv.rename(columns = {'어린이 보호' : 'cctv_kids'}, inplace = True)
cctv.rename(columns = {'쓰레기 무단투기' : 'cctv_life'}, inplace = True)
cctv.rename(columns = {'기타' : 'cctv_other'}, inplace = True)
cctv.head()

,region,cctv_total,cctv_crime_prevent,cctv_park,cctv_kids,cctv_life,cctv_other
0,강남구,4758,3297,385,567,0,509
1,강동구,1493,810,96,164,27,396
2,강북구,946,633,94,114,0,105
3,강서구,1202,807,78,228,28,61
4,관악구,3223,1998,204,279,130,612

In [32]:
# 필요한 서울시 자치구명, CCTV 갯수 합계, 어린이 보호용 CCTV 합계 column만 선택하여 새로운 dataframe 만들기

cctv_rev = cctv[["region", "cctv_total","cctv_kids"]]
cctv_rev.head()

  region  cctv_total  cctv_kids
0    강남구        4758        567
1    강동구        1493        164
2    강북구         946        114
3    강서구        1202        228
4    관악구        3223        279

In [28]:
# 인구 밀도 및 보호구역 파일 불러오기
# 두 dataframe을 합본하기 위해서 column명을 같게 만들기

protect = pd.read_excel('서울_보호구역추가.xlsx')
protect = protect.rename(columns={"gu":"region"})
protect.head()

  region  area(m2)   pop_15  pop_dens  num_protect  protect_ratio
0    종로구  23913280  13592.0  0.568387           40      70.374573
1     중구   9959983  10662.5  1.070534           33      30.825739
2    용산구  21866384  21699.0  0.992345           33      33.254559
3    성동구  16859343  32347.0  1.918639           51      26.581337
4    광진구  17062949  34945.5  2.048034           74      36.132212

In [34]:
# 서울시 구별 CCTV 현황과 인구 밀도 및 보호구역 dataframe을 합본

seoul_cctv = protect.merge(cctv_rev, how='left')
seoul_cctv.head()

,region,area(m2),pop_15,pop_dens,num_protect,protect_ratio,cctv_total,cctv_kids
0,종로구,23913280,13592.0,0.568387,40,70.374573,1925,38
1,중구,9959983,10662.5,1.070534,33,30.825739,1260,51
2,용산구,21866384,21699.0,0.992345,33,33.254559,2379,179
3,성동구,16859343,32347.0,1.918639,51,26.581337,2554,381
4,광진구,17062949,34945.5,2.048034,74,36.132212,1228,162

In [ ]:
# 활용가능한 파일 형태로 저장

# seoul_cctv.to_csv("seoul_cctv.csv")
# seoul_cctv.to_excel("seoul_cctv.xlsx")